<h1>All Games</h1>
<% @games.each do |game| %>
  <h2><%= game.info %></h2>
  <h2>Players</h2>
  <% game.players.each do |player| %>
    <h3><%= player.alias %></h3>
  <% end %>
  <p>_____________________________________</p>
<% end %>
